# Node.js
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Editor-specific files
.vscode/
.idea/

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Build files
build/
dist/
out/
public/

# Dependency directories
.pnp/
.pnp.js

# Optional eslint cache
.eslintcache

# Visual Studio Code directories
.vscode/
